<!doctype html>
<html
  lang="{{ or site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
  </head>
  <body>
    <header class="sticky top-0 z-50">
      {{ block "header" . }}
        {{ partial "header.html" . }}
      {{ end }}
    </header>

    <main class="flex-1 p-6 sm:px-10 lg:px-0">
      {{ block "main" . }}{{ end }}
    </main>
    <footer>{{ partial "footer.html" . }}</footer>

    {{ partialCached "head/js.html" . }}
  </body>
</html>
