{{ define "main" }}
  <div class="flex flex-col items-center pb-8">
    <div class="bg-stone-200 rounded-t-md p-1 pb-0">
      <div class="bg-stone-700 p-1.5 pb-0 rounded-t">
        <img src="/screenshot_merge_1.png" />
      </div>
    </div>
  </div>

  <div class="prose prose-stone prose-lg md:prose-xl mx-auto prose-headings:font-serif">
    <h1 class="text-center">
      Translation Management:<br />
      It doesn't have to be <span class="bg-gradient-to-r from-sky-200 to-sky-200 bg-repeat-x bg-[length:100%_16px] bg-[center_top_80%] ">such a pain in the neck</span>.
      </span>
    </h1>
    <p>
      Let’s be honest: <strong>dealing with translations is painful</strong>. Existing
      translation management systems do little to help. Quite often they rather
      make it worse.
    </p>
    <p>
      If you ever worked with translations you certainly experienced one or more
      of the following:
    </p>
    <ul class="emoji-list">
      <li>
        <img src="/twemoji/1f615.svg" />
        <div>Sync scripts are cobbled together manually</div>
      </li>
      <li>
        <img src="/twemoji/1f641.svg" />
        <div>Translations in a TMS are <strong>global state</strong> and as such don’t play well with
        development in feature branches</div>
      </li>
      <li>
        <img src="/twemoji/1f627.svg" />
        <div>Merging translation files in GIT causes <strong>spurious conflicts</strong> that are just
        annoying to resolve</div>
      </li>
      <li>
        <img src="/twemoji/1f635.svg" />
        <div>Branching support of existing translation management systems leave a lot
        to be desired and/or are <strong>prohibitively expensive</strong></div>
      </li>
      <li>
        <img src="/twemoji/1f629.svg" />
        <div>Coordinating translations across feature branches and/or teams takes a significant amount of effort</div>
      </li>
    </ul>

    <h2 class="text-center border-y-4 border-zinc-600 py-6 !my-16">
       <span class="">Lingual is the cure</span>
    </h2>

    <h2>First-class Branching</h2>
    <p>
      Working with feature branches and managing your translations as <strong>global
      state is an invitation for conflicts</strong>. It gets worse when working
      with multiple teams.
    </p>
    <p>
      That’s why we built branching as a core feature from day one.
      Lingual uses the same <strong>industry-standard branching model</strong> as GIT but it
      works on translation data-structures.
    </p>
    <ul class="emoji-list emoji-list-sm">
      <li>
        <img src="/twemoji/2705.svg" />
        <div><strong class="emphasized">No more GIT merge conflicts</strong> to resolve in your translations</div>
      </li>
      <li>
        <img src="/twemoji/2705.svg" />
        <div><strong class="emphasized">No more friction</strong> caused by translations as global state</div>
      </li>
    </ul>

    <div class="bg-zinc-800 p-2 aspect-video not-prose rounded-md flex flex-col">
      <video autoplay muted loop class="w-full aspect-video block">
        <source src="/lingual-merge-conflict-demo.webm" type="video/webm" />
      </video>
    </div>

    <h2>State-of-the-Art CLI</h2>
    <p>
      We think <strong>you shouldn’t have to leave the terminal</strong> to work with your translation system.
      Lingual comes with a state-of-the-art CLI to sync translations, branch, merge and
      even set up your project.
    </p>
    <ul class="emoji-list emoji-list-sm">
      <li>
        <img src="/twemoji/2705.svg" />
        <div><strong class="emphasized">Stay in the terminal</strong> for project setup, translation sync, branching
        merging, etc.</div>
      </li>
      <li>
        <img src="/twemoji/2705.svg" />
        <div><strong class="emphasized">No more sync scripts</strong> held together by duct-tape and bubblegum</div>
      </li>
    </ul>
    <div class="bg-black py-4 px-1 aspect-video not-prose rounded-md flex flex-col">
      <video autoplay muted loop class="w-full aspect-video block">
        <source src="/lingual_cli_demo_edit_v1.0.1.webm" type="video/webm" />
      </video>
    </div>

    <h2>And more</h2>
    <p>
      Of course Lingual also provides all the standard features you would expect like
    </p>
    <ul class="emoji-list emoji-list-sm">
      <li><img src="/twemoji/2705.svg" /><div>Team/Organization management</div></li>
      <li><img src="/twemoji/2705.svg" /><div>Customizable, role-based access control</div></li>
      <li><img src="/twemoji/2705.svg" /><div>Authentication through Google/Github/etc. account</div></li>
      <li><img src="/twemoji/2705.svg" /><div>CI/CD automation and Github/Gitlab/etc. integration</div></li>
      <li><img src="/twemoji/2705.svg" /><div>Automatic machine-translations</div></li>
    </ul>
    <div class="bg-zinc-800 p-2 not-prose rounded-md">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide"><img src="/lingual-ci-token.png"/></li>
            <li class="glide__slide"><img src="/lingual-roles.png"/></li>
            <li class="glide__slide"><img src="/lingual-team-invite.png"/></li>
          </ul>
        </div>
        <div class="absolute inset-0 flex justify-between items-center px-2 pointer-events-none" data-glide-el="controls">
          <button class="bg-white/50 rounded-full size-8 flex items-center justify-center font-mono text-2xl pointer-events-auto" data-glide-dir="<">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
              <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
            </svg>
          </button>
          <button class="bg-white/50 rounded-full size-8 flex items-center justify-center font-mono text-2xl pointer-events-auto" data-glide-dir=">">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
              <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <h2>Subscribe Now</h2>
    <p>
      Subscribe now and you'll be the first to know when the beta becomes available.
    </p>
    <script
      async
      data-uid="757d21d6b2"
      src="https://lingual.ck.page/757d21d6b2/index.js"
    ></script>
  </div>

{{ end }}
