---
layout: layouts/root.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="main">
  <div class="logo-wrapper"><img class="main-logo" src="img/lingual.svg" alt="Lingual logo" /></div>
  <div>Lingual</div>
</div>
