<div class="w-full pb-20 flex flex-col justify-center items-center">
  <div
    class="md:border border-stone-200 rounded px-6 lg:px-20 py-12 text-center w-full sm:max-w-[65ch] [&>form>div]:!pt-8"
  >
    <h2 class="font-semibold text-xl text-stone-700">
      Subscribe to our newsletter
    </h2>
    <script
      async
      data-uid="757d21d6b2"
      src="https://lingual.ck.page/757d21d6b2/index.js"
    ></script>
  </div>
</div>

<div class="w-20 mx-auto border-b-2 border-stone-200 mb-0.5"></div>
<div
  class="bg-stone-100 px-8 pb-4 pt-12 text-xs sm:text-sm text-slate-500 space-y-6"
>
  <div class="flex justify-end gap-2">
    {{ partial "social.html" }}
  </div>

  <div class="flex items-center justify-between">
    <p>&copy; {{ now.Year }} lingual.dev</p>

    <ul class="flex gap-2 sm:gap-4">
      {{ range first 4 .Site.Taxonomies.tags.ByCount }}
        <li class="[&:nth-child(4)]:hidden sm:[&:nth-child(4)]:block">
          <a href="{{ .Page.RelPermalink }}" class="hover:underline"
            >{{ .Page.Name }}</a
          >
        </li>
      {{ end }}
    </ul>
  </div>
</div>
