<div class="w-full flex flex-col justify-center items-center">
  <div
    class="standard-prose w-full sm:max-w-[65ch] [&>form>div]:!pt-8 space-y-4"
  >
    <p class="text-xl text-stone-700">
      We are working on a new translation management system with
      <strong>first-class branching</strong> and
      <strong>CLI integration</strong>.
    </p>
    <p class="text-xl text-stone-700">
      Subscribe to our newsletter and we'll let you know when the beta becomes
      available.
    </p>
    <script
      async
      data-uid="757d21d6b2"
      src="https://lingual.ck.page/757d21d6b2/index.js"
    ></script>
  </div>
</div>
