@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-zinc-800 min-h-screen flex flex-col;
}

main a {
  @apply text-zinc-900 font-medium underline hover:text-sky-500;
}

.standard-prose {
  @apply prose lg:prose-lg mx-auto
  prose-img:rounded-md
prose-code:bg-stone-200
  prose-code:px-1
  prose-code:py-0.5
  prose-code:before:content-none
  prose-code:after:content-none
  prose-code:rounded-sm
  prose-code:text-sm
  prose-code:font-normal
  prose-blockquote:text-slate-500
  prose-blockquote:bg-zinc-100
  [&_p]:prose-blockquote:my-1
  prose-blockquote:py-2;
}

.highlight {
  @apply overflow-hidden;
}
.highlight pre {
  @apply overflow-auto rounded-md p-4;
}
